<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>
    <body>
        <h1> Welcome!</h1>
        <button> Page 1 </button>
        <button class="specialButton1"> Page 2</button>
        <p> This is my first HTML page. </p>
        <img src="{{ url_for('static', filename='Emoji.png') }}" alt="" width="72" height="57">

    </body>
</html>












